<div class="login">
  <div class="login__container">
    <h1 class="login__title">Movies Growth</h1>
    <form (ngSubmit)="logIn()" class="login__form">
      <div>
        <label for="usuario" class="login__label">Usuário</label>
        <input
          id="usuario"
          [(ngModel)]="loginUser.usuario"
          name="usuario"
          class="login__input"
          placeholder="Digite seu usuário"
          required
        />
      </div>

      <div>
        <label for="senha" class="login__label">Senha</label>
        <input
          id="senha"
          [(ngModel)]="loginUser.senha"
          name="senha"
          type="password"
          class="login__input"
          placeholder="Digite sua senha"
          required
        />
      </div>

      <div *ngIf="errorMessage" class="login__error-msg">{{ errorMessage }}</div>

      <button type="submit" class="login__button">Entrar</button>
    </form>
  </div>
</div>
